body {
  background-color: white;
}
.card1 {
  background-color: #f4f4f4;
  border-radius: 5px;
}
.card2 {
  background-color: #d1e5ff;
  font-weight: bold;
}

.subtitulo {
  color: #007aff;
  font-weight: bold;
  text-align: center;
  margin: 30px 0 20px;
}

.btn-custom {
  background-color: #0056d2;
  color: #fff;
}

.logo-img {
  max-height: 60px;
  margin: 10px;
}
